<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <img src="..\assets\images\aboutApp.png" class="bg-img">
  
  <div class="container">
    <div class="heading">
      <h2 class="white">About the App</h2>
      <img src="..\assets\images\logo-v2.png">
    </div>
    <div class="desc">
      <p>This app is intended exclusively for purchasing our products. With this, our customers' cravings are just one click away. It has an interface that will surely soothe the user's aesthetics while they choose for their orders.</p>
      <p>If you are looking for a French Bakery, rest assured that <i>Le Patisserie</i> is here to satisfy your requirements. We aim to make your life convenient by allowing you to order pastries with just a few clicks. Our bakers give you the opportunity to indulge in authentic baked products that are always delivered fresh, flaky, and utterly delicious from steaming shelves of the best bakery shop in Metro Manila. Our priority is to always provide our customers the freshest baked goodies that are delicately assembled and served fresh daily with just one click.</p>
    </div>
  </div>
  <div class="end">
    <img src="..\assets\images\svg\about-end.svg">
  </div>
  
  
</ion-content>
