<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <img src="..\assets\images\lineart1.png" class="bg-img-1">
  <img src="..\assets\images\lineart2.png" class="bg-img-2">
  
  <div class="container">
    <div class="heading">
      <h2 class="white">Company History</h2>
      <img src="..\assets\images\logo-v2.png">
    </div>
    <img src="..\assets\images\svg\history-b-1.svg" class="d-border d-border-t">
    <div class="desc">
      <p><i>Le Patisserie</i> was recently founded in 2021 in the city of Metro Manila. Currently, we have the pleasure of serving customers online through this application.</p>
      <p>We are passionate about creating the best tasting pastries and bread, serving only the freshest food for our customers. As our ovens warm up, we mix only the highest quality ingredients into our dough, and we begin the process of crafting each individual item. Our dedicated and determined bakers did not only roll and cut every pastry and bread by hand, but we also developed this application ourselves.</p>
      <p>As we begin baking each tray of dough, the fresh aroma of butter and dough fills our bakery. A fresh French taste for you is a tradition we adhere to. We bake fresh everyday, all day.</p>
    </div>
    <img src="..\assets\images\svg\history-b-2.svg" class="d-border d-border-b">
  </div>  
  
</ion-content>