<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2 class="white">CONTACT US</h2>
  
  <p>Feel free to contact us for your inquiries! You can click any of the following and it will help you reach us faster.</p>
  <a href="https://goo.gl/maps/ajia92f5JRW8pN1E9"><img src="\assets\images\svg2\GREEN.png" class="address"></a>
  <a href="mailto:lepatisserie@gmail.com?subject=Inquiry from our App"><img src="\assets\images\svg2\MIDDLE.png" class="contact"></a>
  <a href="tel:09564456692"><img src="\assets\images\svg2\yellow.png" class="num"></a>
</ion-content>
