ion-content, ion-toolbar, ion-list {
    background: var(--yellow);
    --background: var(--yellow);
}

h2 {
    margin: 30px 10% 20px;
    font-weight: 600 !important;
    text-shadow: 2px 1px 3px var(--pink);
}

ion-item  {
    display: flex;
    align-items: center;
    margin: 0 5% 5%;
    padding: 15px 0;
    width: 90%;
    border-radius: 15px;
    background: var(--white);
    --background: var(--white);
    
    &:last-of-type {
        margin-bottom: 0;
    }
    
    img {
        margin-right: 20px;
        width: 140px;
        clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0);
        border-radius: 15px;
    }
    
    .desc {
        width: 100%;
        margin-right: 15px;
        
        ion-label {
            margin: 10px 0 0;
            color: var(--orange);
            font-family: 'Ephesis', cursive !important;
            font-size: 24px !important;
            font-weight: bold;
            line-height: 25px !important;
            text-transform: capitalize;
        }
        
        ion-note {
            font-weight: 400;
            line-height: 13px;
            
            .name {
                margin-right: 5px;
                font-size: 12px;
                text-transform: uppercase;
            }
            
            .amt {
                font-size: 14px;
            }
        }
    }
    
    .remove {
        position: absolute;
        top: 0;
        right: 15px;
        margin-left: 15px;
        padding: 4px 6px;
        background: var(--white);
        font-size: 16px;
        border: 2px solid var(--pink);
        border-radius: 50%;
        
        ion-icon {  
            color: var(--pink);
            --ionicon-stroke-width: 80px;
        }
    }
}

ion-card {
    display: block;
    margin: 7% 20% 30px;
    padding: 15px 25px;
    width: 60%;
    box-shadow: none;
    border-radius: 15px;
    --background: var(--white);
    
    strong {
        font-family: 'Poppins', sans-serif !important;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 0.3px;
    }
    
    .amount {
        float: right;
    }
    
    strong, .amount {
        color: var(--purple);
    }
    
}

ion-footer {
    background: var(--pink);
    
    ion-toolbar {
        --padding-top: 0;
        --padding-bottom: 0;
    }
    
    ion-button {
        margin: 0;
        width: 100%;
        height: 50px;
        color: #fff;
        font-family: 'Poppins', sans-serif !important;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 1px;
        --background: var(--pink);
    }
    
    ion-icon {
        margin-left: 5px;
        color: #fff;
    }
}

