<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <h2 class="purple">DEVELOPERS</h2>
  <img src="\assets\images\devsPics\anna.jpg" class="anna">
  <img src="\assets\images\devsPics\nina.jpg" class="ninz">
  <img src="\assets\images\devsPics\devsBG.png" class="graphic">
  <ion-card class="ion1">
    <ion-card-content>
      ANNA JESSICA CUNANAN
    </ion-card-content>
    <a href="https://www.facebook.com/osnapitizanna"><ion-icon name="logo-facebook"></ion-icon></a>
    <a href="https://twitter.com/annaoppa"><ion-icon name="logo-twitter"></ion-icon></a>
    <a href="https://www.instagram.com/annaacunanan/"><ion-icon name="logo-instagram"></ion-icon></a>
  </ion-card>

  <ion-card class="ion2">
     <ion-card-content>
      NINA MARIE MATEO
    </ion-card-content>
    <a href="https://www.facebook.com/ninzzmateo/"><ion-icon name="logo-facebook"></ion-icon></a>
    <a href="https://twitter.com/mahalkosimalik"><ion-icon name="logo-twitter"></ion-icon></a>
    <a href="https://www.instagram.com/matteyowz/"><ion-icon name="logo-instagram"></ion-icon></a>
  </ion-card>

</ion-content>