ion-content {
  --background: var(--yellow);
}

ion-slides {
  height: 100%;
  --bullet-background: var(--orange);
  --bullet-background-active: var(--orange);
}

ion-slide > img {  
  height: 100%;
  width: 100%; 
  position: relative;
}  

.btnProducts{
  z-index: 2;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 80%;
  margin:auto;
  color: var(--white);
  font-family: 'Open Sans';
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  --background: var(--purple);
  --border-radius: 15px;
  --box-shadow: none;
  
  ion-icon {
    margin-left: 7px;
    color: var(--white);
  }
}