<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <img src="..\assets\images\aboutProducts.png" class="bg-img">
  
  <div class="container">
    <div class="heading">
      <h2 class="white">About Our Products</h2>
      <img src="..\assets\images\logo-v2.png">
    </div>
    <div class="desc">
      <p>If you are on the hunt for original French baked goods in Metro Manila, then your search has come to an end! We have designed a wide selection of delicious specialty French baked goods when you want to treat yourself or others.</p>
      <p>Using the finest ingredients and putting in the effort needed to ensure optimum quality, we have put together an elaborate menu, which is filled with a variety of baked goodies, making us the best French bread bakery in Metro Manila.</p>
      <p>Our passion is reflected in our breads and soft pastries that are simply incomparable to anything you have had before. From flaky croissants that fall apart in your mouth to hearty macarons that are equally filling and flavorful, <i>Le Patisserie</i> has it all for you!</p>
    </div>
  </div>
  <div class="end">
    <img src="..\assets\images\svg\about-p-end.svg">
  </div>
  
</ion-content>
